<!--signup.html-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<head>
    <meta charset="UTF-8">
</head>
<style>
    input {
        max-width: 500px;
    }

    .container {
        margin: 0 auto;
        width: 500px;
    }

    h1 {
        text-align: center;
    }

    .sub_button {
        display: flex;
        justify-content: center;
    }

    span {
        color: #ff0000;
    }

    h2 {
        font-size: 12px;
    }
</style>

<body>
    <form method="post" id="frm">
        <div class="container">
            <h1>회원가입</h1>
            <div class="form-group">
                <label for="loginId">아이디</label>
                <input type="text" class="form-control" id="loginId" name="loginId" placeholder="영문 소문자 + 숫자 (5~20자)" maxlength="20" value="fdgdgd">
                <span class="id_chk1" id="id_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="id_chk2" id="id_chk2" style="display: none;">아이디는 5~20자이고, 영문 소문자와 숫자만 사용가능합니다.</span>
                <span class="id_chk3" id="id_chk3" style="display: none;">이미 존재하는 아이디 입니다.</span>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="영문 + 숫자 + 특수문자(8~16자)" maxlength="16" value="rkskek123!">
                <span class="pw_chk1" id="pw_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="pw_chk2" id="pw_chk2" style="display: none;">비밀번호는 영문 대 소문자, 숫자, 특수문자를 모두 사용한 8~16자만
                    가능합니다.</span>
            </div>
            <div class="form-group">
                <label for="more_password">비밀번호 재확인</label>
                <input type="password" class="form-control" id="more_password" name="more_password" maxlength="16"value="rkskek123!">
                <span class="pw_more_chk1" id="pw_more_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="pw_more_chk2" id="pw_more_chk2" style="display: none;">비밀번호가 일치하지 않습니다</span>
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="text" class="form-control" id="nickname" name="nickname" maxlength="16" value="sddsnfl">
                <span class="nick_chk1" id="nick_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="nick_chk2" id="nick_chk2" style="display: none;">한글, 영어 대소문자, 숫자만 사용할 수 있습니다(2~16자 제한)</span>
                <span class="nick_chk3" id="nick_chk3" style="display: none;">이미 존재하는 닉네임 입니다.</span>
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text" class="form-control" id="email" name="email" value="sdfnl@dsfnldsc.com">
                <span class="email_chk1" id="email_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="email_chk2" id="email_chk2" style="display: none;">이메일 형식이 잘못되었습니다</span>
            </div>
            <!-- <div class="form-group">
                <label for="loginId">아이디</label>
                <input type="text" class="form-control" id="loginId" name="loginId" placeholder="영문 소문자 + 숫자 (5~20자)" maxlength="20" th:value="${memberInsertDto?.loginId}" value="fdgdgd">
                <span class="id_chk1" id="id_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="id_chk2" id="id_chk2" style="display: none;">아이디는 5~20자이고, 영문 소문자와 숫자만 사용가능합니다.</span>
                <span class="id_chk3" id="id_chk3" style="display: none;">이미 존재하는 아이디 입니다.</span>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="영문 + 숫자 + 특수문자(8~16자)" maxlength="16" th:value="${memberInsertDto?.password}" value="rkskek123!">
                <span class="pw_chk1" id="pw_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="pw_chk2" id="pw_chk2" style="display: none;">비밀번호는 영문 대 소문자, 숫자, 특수문자를 모두 사용한 8~16자만
                    가능합니다.</span>
            </div>
            <div class="form-group">
                <label for="more_password">비밀번호 재확인</label>
                <input type="password" class="form-control" id="more_password" name="more_password" maxlength="16" th:value="${memberInsertDto?.more_password}" value="rkskek123!">
                <span class="pw_more_chk1" id="pw_more_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="pw_more_chk2" id="pw_more_chk2" style="display: none;">비밀번호가 일치하지 않습니다</span>
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="text" class="form-control" id="nickname" name="nickname" maxlength="16" th:value="${memberInsertDto?.nickname}" value="sddsnfl">
                <span class="nick_chk1" id="nick_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="nick_chk2" id="nick_chk2" style="display: none;">한글, 영어 대소문자, 숫자만 사용할 수 있습니다(2~16자 제한)</span>
                <span class="nick_chk3" id="nick_chk3" style="display: none;">이미 존재하는 닉네임 입니다.</span>
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text" class="form-control" id="email" name="email" th:value="${memberInsertDto?.email}" value="sdfnl@dsfnldsc.com">
                <span class="email_chk1" id="email_chk1" style="display: none;">필수 항목입니다.</span>
                <span class="email_chk2" id="email_chk2" style="display: none;">이메일 형식이 잘못되었습니다</span>
            </div> -->

            <div class="form-group">
                <h3>현재 반려동물을 기르고 계신가요?</h3>
                <input type="radio" name="petYN" value="Y" />네
                <input type="radio" name="petYN" value="N" />아니요
                <span class="petYN_chk1" id="petYN_chk1" style="display: none;">필수 항목입니다.</span>
            </div>

            <div class="add_info" id="add_info" style="display: none;">
                <div class="form-group">
                    <label for="petName">펫 이름</label>
                    <input type="text" class="form-control" id="petName" name="petName" maxlength="20" th:value="${memberInsertDto?.petName}">
                    <span class="petName_chk1" id="petName_chk1" style="display: none;">필수 항목입니다.</span>
                    <span class="petName_chk2" id="petName_chk2" style="display: none;">한글, 영어만 사용 가능합니다(1~20자 제한)</span>
                </div>
                <div class="form-group">
                    <label for="petCategory">펫 종류</label>
                    <div>
                        <input type="radio" name="petCategory" value="dog" /> 강아지
                        <input type="radio" name="petCategory" value="cat" /> 고양이
                        <input type="radio" name="petCategory" value="animal" /> 일반 동물
                    </div>
                    <span class="petCategory_chk1" id="petCategory_chk1" style="display: none;">필수 항목입니다.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="wantPet">추천받길 원하는 펫 (최소 1가지 ~ 최대 3가지) </label>
                <div>
                    <input type="checkbox" name="wantPet" id="dog" value="dog" />강아지
                    <input type="checkbox" name="wantPet" id="cat" value="cat" /> 고양이
                    <input type="checkbox" name="wantPet" id="animal" value="animal" />일반 동물
                </div>
                <span class="want_pet_chk1" id="want_pet_chk1" style="display: none;">필수 항목입니다.</span>
            </div>

            <div class="sub_button">
                <button type="button" class="btn btn-primary" onclick="lastCheck()">가입 완료</button>
            </div>
        </div>
    </form>
</body>
<script type="text/javascript">

    var idCheck = false;
    var pwCheck = false;
    var pwMoreCheck = false;
    var nickCheck = false;
    var emailCheck = false;
    var addrCheck = false;
    var petYNCheck = false;
    var petYNValue = "N";
    var petNameCheck = false;
    var petCategoryCheck = false;
    var wantPetCheck = false;

    function id_chk() {
        var reg = /^([a-z]+[0-9]*){5,20}$/
        var id = $("#loginId").val();
        if (id == "") {
            $("#id_chk1").css({
                "display": "block"
            });
            $("#id_chk2").css({
                "display": "none"
            });
            idCheck = false;
        }
        else if (reg.test(id) == false || id.includes(' ')) {
            $("#id_chk2").css({
                "display": "block"
            });
            $("#id_chk1").css({
                "display": "none"
            });
            idCheck = false;
        }
        else {
            // 아이디 중복인지 확인하는 로직
            $.ajax({
                url: '/member/idCheck',
                type: 'post',
                data: {
                    "LOGIN_ID": id
                },
                success: function (r) {
                    if (r == "success") {
                        $("#id_chk1").css({
                            "display": "none"
                        });
                        $("#id_chk2").css({
                            "display": "none"
                        });
                        $("#id_chk3").css({
                            "display": "none"
                        });
                        idCheck = true;
                    }
                    else {
                        $("#id_chk3").css({
                            "display": "block"
                        });
                    }
                }
            });
        }
    }

    function pw_chk() {
        // 2.비밀번호 확인 검사
        // 숫자/문자/특수문자/ 포함 형태의 8~16자리 이내의 암호 정규식 
        // 전체길이검사 /^.{8,16}$/
        // 숫자하나 반드시 포함 /\d/ 
        // 영문자 반드시 포함 /[a-zA-Z]/
        // 특수문자 반드시 포함  /[\*!&]/			
        var regPw = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/;
        var pw = $("#password").val();
        if (pw == "") {
            $("#pw_chk1").css({
                "display": "block"
            });
            $("#pw_chk2").css({
                "display": "none"
            });
            pwCheck = false;
        }
        else if (regPw.test(pw) == false || pw.includes(' ')) {
            $("#pw_chk2").css({
                "display": "block"
            });
            $("#pw_chk1").css({
                "display": "none"
            });
            pwCheck = false;
        }
        else {
            // 줄일수 있는 방법 알아보기
            $("#pw_chk1").css({
                "display": "none"
            });
            $("#pw_chk2").css({
                "display": "none"
            });
            pwCheck = true;
        }
    }

    function pw_more_chk() {
        var morePw = $("#more_password").val();
        if (morePw == "") {
            $("#pw_more_chk1").css({
                "display": "block"
            });
            $("#pw_more_chk2").css({
                "display": "none"
            });
            pwMoreCheck = false;
        }
        else if (morePw != $("#password").val()) {
            $("#pw_more_chk2").css({
                "display": "block"
            });
            $("#pw_more_chk1").css({
                "display": "none"
            });
            pwMoreCheck = false;
        }
        else {
            $("#pw_more_chk1").css({
                "display": "none"
            });
            $("#pw_more_chk2").css({
                "display": "none"
            });
            pwMoreCheck = true;
        }
    }

    function nick_chk() {
        var nickname = $("#nickname").val();
        var nickReg = /^[ㄱ-ㅎa-zA-Zㅏ-ㅣ0-9가-힣]{2,16}$/;
        if (nickname == "") {
            $("#nick_chk1").css({
                "display": "block"
            });
            $("#nick_chk2").css({
                "display": "none"
            });
            nickCheck = false;
        }
        else if (nickReg.test(nickname) == false || nickname.includes(' ')) {
            $("#nick_chk2").css({
                "display": "block"
            });
            $("#nick_chk1").css({
                "display": "none"
            });
            nickCheck = false;
        }
        else {
            // 닉네임 중복인지 확인하는 로직
            $.ajax({
                url: '/member/nickCheck',
                type: 'post',
                data: {
                    "nickname": nickname
                },
                success: function (r) {
                    if (r == "success") {
                        $("#nick_chk1").css({
                            "display": "none"
                        });
                        $("#nick_chk2").css({
                            "display": "none"
                        });
                        $("#nick_chk3").css({
                            "display": "none"
                        });
                        nickCheck = true;
                    }
                    else {
                        $("#nick_chk3").css({
                            "display": "block"
                        });
                    }
                }
            });
        }
    }

    function email_chk() {
        var email = $("#email").val();
        var emailReg = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
        if (email == "") {
            $("#email_chk1").css({
                "display": "block"
            });
            $("#email_chk2").css({
                "display": "none"
            });
            emailCheck = false;
        }
        else if (emailReg.test(email) == false || email.includes(' ')) {
            $("#email_chk2").css({
                "display": "block"
            });
            $("#email_chk1").css({
                "display": "none"
            });
            emailCheck = false;
        }
        else {
            $("#email_chk1").css({
                "display": "none"
            });
            $("#email_chk2").css({
                "display": "none"
            });
            emailCheck = true;
        }
    }

    function petName_chk() {
        var petName = $("#petName").val();
        var nameReg = /^[a-z가-힣]{1,20}$/;
        if (petName == "") {
            $("#petName_chk1").css({
                "display": "block"
            });
            $("#petName_chk2").css({
                "display": "none"
            });
            petNameCheck = false;
        }
        else if (nameReg.test(petName) == false) {
            $("#petName_chk2").css({
                "display": "block"
            });
            $("#petName_chk1").css({
                "display": "none"
            });
            petNameCheck = false;
        }
        else {
            $("#petName_chk1").css({
                "display": "none"
            });
            $("#petName_chk2").css({
                "display": "none"
            });
            petNameCheck = true;
        }
    }

    function want_pet_chk() {
        var checkList = $("input[type=checkbox][name=wantPet]:checked");
        console.log("사이즈 : " + checkList.length);
        if (checkList.length > 0) {
            wantPetCheck = true;
            $("#want_pet_chk1").css({
                "display": "none"
            });
        }
        else {
            $("#want_pet_chk1").css({
                "display": "block"
            });
            wantPetCheck = false;
        }
    }

    jQuery(document).ready(function () {

        // 아이디 검증
        $("#loginId").on("focusout", 
            function () { 
                id_chk(); 
            }
        );

        // 비밀번호
        $("#password").on("focusout",
            function () {
                pw_chk();
            }
        );

        // 비밀번호 재확인
        $("#more_password").on("focusout",
            function () {
                pw_more_chk();
            }
        );

        // 닉네임
        $("#nickname").on("focusout",
            function () {
                nick_chk();
            }
        );

        // 이메일
        $("#email").on("focusout",
            function () {
                email_chk();
            }
        );

        // 펫 이름
        $("#petName").on("focusout",
            function () {
                petName_chk();
            }
        );
    });

    // 반려동물 유무
    $("input[type=radio][name=petYN]").change(function () {
        check_YN();
    });

    function check_YN() {
        var yn = $("input[type=radio][name=petYN]:checked").val();
        if (yn == "Y") {
            $("#add_info").css({
                "display": "block"
            });
            petYNValue = "Y";
        }
        else {
            $("#add_info").css({
                "display": "none"
            });
            petYNValue = "N";
        }
        petYNCheck = true;
        $("#petYN_chk1").css({
            "display": "none"
        });
    }

    // 반려동물 종류
    $("input[type=radio][name=petCategory]").change(function () {
        check_myPet();
    });
    
    function check_myPet() {
        var pet = $("input[type=radio][name=petCategory]:checked");
        if (pet.length < 1) {
            $("#petCategory_chk1").css({
                "display": "block"
            });
            petCategoryCheck = false;
        }
        else {
            $("#petCategory_chk1").css({
                "display": "none"
            });
            petCategoryCheck = true;
        }
    }

    // 추천받길 원하는 펫
    $("input[type=checkbox][name=wantPet]").change(function () {
        want_pet_chk();
    });

    function valid_chk(m) {
        // 맵으로 바꾸기
        if(m.valid_loginId!=null) {
            $("#"+m.valid_loginId).css({
                "display": "block"
            });
        }
        if(m.valid_password!=null) {
            $("#"+m.valid_password).css({
                "display": "block"
            });
        }
        if(m.valid_more_password!=null) {
            $("#"+m.valid_more_password).css({
                "display": "block"
            });
        }
        if(m.valid_nickname!=null) {
            $("#"+m.valid_nickname).css({
                "display": "block"
            });
        }
        if(m.valid_email!=null) {
            $("#"+m.valid_email).css({
                "display": "block"
            });
        }
        if(m.valid_petYN!=null) {
            $("#"+m.valid_petYN).css({
                "display": "block"
            });
        }
        if(m.valid_petName!=null) {
            $("#"+m.valid_petName).css({
                "display": "block"
            });
        }
        if(m.valid_petCategory!=null) {
            $("#"+m.valid_petCategory).css({
                "display": "block"
            });
        }
        if(m.valid_wantPet!=null) {
            $("#"+m.valid_wantPet).css({
                "display": "block"
            });
        }
    }

    function lastCheck() {
        if (petYNValue == "Y") {
            if (idCheck == false || pwCheck == false || pwMoreCheck == false || nickCheck == false
                || emailCheck == false || /*addrCheck == false ||*/ petYNCheck == false || petNameCheck == false
                || petCategoryCheck == false || wantPetCheck == false) {
                if (idCheck == false) {
                    id_chk();
                }
                if (pwCheck == false) {
                    pw_chk();
                }
                if (pwMoreCheck == false) {
                    pw_more_chk();
                }
                if (nickCheck == false) {
                    nick_chk();
                }
                if (emailCheck == false) {
                    email_chk();
                }
                if (petYNCheck == false) {
                    $("#petYN_chk1").css({
                        "display": "block"
                    });
                }
                if (petNameCheck == false) {
                    petName_chk();
                }
                if (petCategoryCheck == false) {
                    check_myPet();
                }
                if (wantPetCheck == false) {
                    want_pet_chk();
                }
                alert("잘못입력된 항목이 있습니다. 다시 확인해주세요");
                return;
            }
            else {
                var form = $("#frm").serialize();
                $.ajax({
                    url: '/signup/check',
                    type: 'post',
                    // data: 
                    // {"loginId" : id}
                    // ,
                    dataType:'json',
                    data: form,
                    success: function (r) {
                        if(r.fail!=null) {
                            valid_chk(r);
                        }
                        else {
                            $("#frm").attr("action", "/signup/success");
                            $("#frm").submit();
                        }
                    }
                });
            }
        }
        else {
            if (idCheck == false || pwCheck == false || pwMoreCheck == false || nickCheck == false
                || emailCheck == false || wantPetCheck == false) {
                if (idCheck == false) {
                    id_chk();
                }
                if (pwCheck == false) {
                    pw_chk();
                }
                if (pwMoreCheck == false) {
                    pw_more_chk();
                }
                if (nickCheck == false) {
                    nick_chk();
                }
                if (emailCheck == false) {
                    email_chk();
                }
                if (petYNCheck == false) {
                    $("#petYN_chk1").css({
                        "display": "block"
                    });
                }
                if (wantPetCheck == false) {
                    want_pet_chk();
                }
                alert("잘못입력된 항목이 있습니다. 다시 확인해주세요");
                return;
            }
            else {
                var form = $("#frm").serialize();
                $.ajax({
                    url: '/signup/check',
                    type: 'post',
                    dataType:'json',
                    data: form,
                    success: function (r) {
                        if(r.fail!=null) {
                            valid_chk(r);
                        }
                        else {
                            $("#frm").attr("action", "/signup/success");
                            $("#frm").submit();
                        }
                    }
                });
            }
        }
    }

</script>

</html>